templates/_includes/_header.html
{% include '_includes/work-nav.html'%}
{% include '_includes/mobile-nav.html'%}<div class="intro"></div><div class="top-header"><a href="{{ siteUrl }}"> <div class="logo"> <img src="{{ siteUrl }}build/img/glen-perotte-icon.svg" alt="Glen Perotte Photography" class="siteIcon"/><img src="{{ siteUrl }}build/img/glen-perotte-icon-b.svg" alt="Glen Perotte Photography" class="siteIcon siteIconBlack"/><div class="hover-logo"><img src="{{ siteUrl }}build/img/glen-perotte-logo-white.svg" alt="Glen Perotte Photography logo" class="siteLogo"/><img src="{{ siteUrl }}build/img/glen-perotte-logo-black.svg" alt="Glen Perotte Photography logo" class="siteLogo siteLogoBlack"/></div></div></a>{% include '_includes/_navigation.html'%}</div>

templates/_includes/_header.jade

{% include '_includes/work-nav.html'%}
{% include '_includes/mobile-nav.html'%}
.intro
.top-header
  a(href="{{ siteUrl }}") 
    .logo 
      img(src="{{ siteUrl }}build/img/glen-perotte-icon.svg", alt="Glen Perotte Photography" class="siteIcon")
      img(src="{{ siteUrl }}build/img/glen-perotte-icon-b.svg", alt="Glen Perotte Photography" class="siteIcon siteIconBlack")
      .hover-logo
        img(src="{{ siteUrl }}build/img/glen-perotte-logo-white.svg", alt="Glen Perotte Photography logo" class="siteLogo")
        img(src="{{ siteUrl }}build/img/glen-perotte-logo-black.svg", alt="Glen Perotte Photography logo" class="siteLogo siteLogoBlack")
  {% include '_includes/_navigation.html'%}
