templates/_includes/_navigation.jade

nav
  .main-nav
    ul
      li
        a(href="#/" class="work-link") Work
      li
        a(href="{{ siteUrl }}about") About
      li
        a(href="{{ siteUrl }}contact") Contact
    .header-social
      a(href="https://www.facebook.com/glenperottephotography/", target="_blank")
        <i class="fa fa-facebook" aria-hidden="true"></i>
      a(href="https://www.instagram.com/glenperottephoto/", target="_blank")
        <i class="fa fa-instagram" aria-hidden="true"></i>
      a(href="https://www.linkedin.com/company/glen-perotte-photography/", target="_blank")
        <i class="fa fa-linkedin" aria-hidden="true"></i>

templates/_includes/_navigation.html
<nav><div class="main-nav"><ul><li><a href="#/" class="work-link">Work</a></li><li><a href="{{ siteUrl }}about">About</a></li><li><a href="{{ siteUrl }}contact">Contact</a></li></ul><div class="header-social"><a href="https://www.facebook.com/glenperottephotography/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="https://www.instagram.com/glenperottephoto/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a><a href="https://www.linkedin.com/company/glen-perotte-photography/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></div></div></nav>
