templates/_includes/_subheader.html
{% include '_includes/work-nav.html'%}<div class="sub-mobile">{% include '_includes/mobile-nav.html'%}</div><div class="sub-top-header"><a href="{{ siteUrl }}" class="logo"><img src="{{ siteUrl }}build/img/glen-perotte-icon-b.svg" alt="Glen Perotte Photography" class="siteIcon"/><div class="hover-logo"><img src="{{ siteUrl }}build/img/glen-perotte-logo-black.svg" alt="Glen Perotte Photography logo" class="siteLogo"/></div></a>{% include '_includes/_navigation.html'%}</div>

templates/_includes/_subheader.jade

{% include '_includes/work-nav.html'%}
.sub-mobile
  {% include '_includes/mobile-nav.html'%}
.sub-top-header
  a(href="{{ siteUrl }}" class="logo")
      img(src="{{ siteUrl }}build/img/glen-perotte-icon-b.svg", alt="Glen Perotte Photography" class="siteIcon")
      .hover-logo
        img(src="{{ siteUrl }}build/img/glen-perotte-logo-black.svg", alt="Glen Perotte Photography logo" class="siteLogo")
        
  {% include '_includes/_navigation.html'%}
