templates/_includes/mobile-nav.jade

.mobile-nav
  img(src="{{ siteUrl }}build/img/side-icon.svg", alt="Side Icon" class="side-icon")
  img(src="{{ siteUrl }}build/img/side-icon-black.svg", alt="Side Icon" class="side-icon-b")
  .mobile-nav-container            
    a(href="{{ siteUrl }}") Home
    {% for entry2 in craft.entries.section('work').order('postDate asc') %}        
    a(href="{{ entry2.url }}") {{ entry2.title }}
    {% endfor %}
    a(href="{{ siteUrl }}about") About
    a(href="{{ siteUrl }}contact") Contact
    a(href="{{ siteUrl }}privacy-policy/") Privacy Policy

templates/_includes/mobile-nav.html
<div class="mobile-nav"><img src="{{ siteUrl }}build/img/side-icon.svg" alt="Side Icon" class="side-icon"/><img src="{{ siteUrl }}build/img/side-icon-black.svg" alt="Side Icon" class="side-icon-b"/><div class="mobile-nav-container">           <a href="{{ siteUrl }}">Home</a>{% for entry2 in craft.entries.section('work').order('postDate asc') %}        <a href="{{ entry2.url }}">{{ entry2.title }}</a>{% endfor %}<a href="{{ siteUrl }}about">About</a><a href="{{ siteUrl }}contact">Contact</a><a href="{{ siteUrl }}privacy-policy/">Privacy Policy</a></div></div>
