templates/_includes/work-nav.html
<div class="work-nav-cont"><div class="close-btn"><img src="{{ siteUrl }}build/img/cross-btn-white.svg" alt="Back Button"/></div><div class="work-contain">{% for entry2 in craft.entries.section('work').order('postDate asc') %}        <a href="{{ entry2.url }}">{{ entry2.title }}</a>{% endfor %}</div><p class="copyright">&copy; Glen Perotte Photographer Ltd. <br>All Rights Reserved. Website by <a href="http://www.ipopdigital.com" target="_blank">iPOP Digital</a></p></div>

templates/_includes/work-nav.jade

.work-nav-cont
  .close-btn
    img(src="{{ siteUrl }}build/img/cross-btn-white.svg", alt="Back Button")
  .work-contain
    {% for entry2 in craft.entries.section('work').order('postDate asc') %}        
    a(href="{{ entry2.url }}") {{ entry2.title }}
    {% endfor %}
  <p class="copyright">&copy; Glen Perotte Photographer Ltd. <br>All Rights Reserved. Website by <a href="http://www.ipopdigital.com" target="_blank">iPOP Digital</a></p>
