templates/contact/index.html
{% extends "_layout" %}
{% block content %}
{% include '_includes/_subheader.html'%}<div class="sub-bg contact-sub-bg">{% include '_includes/_follow.html' %}<div class="sub-container"><div class="col col--2-of-2 crumb"><span>/ Contact</span></div><div class="page-container"><div class="col col--2-of-2">{{ entry.body }}<span class="contact-email"><i class="fa fa-envelope"></i> glen@glenperotte.com<br>59 KING STREET (2ND FLR),<br>ST HELIER, JERSEY, JE2 4WE</span><span class="contact-num"><i class="fa fa-phone"></i> <a href="tel:+447797787425">+44 (0)7797 787425</a></span>{% include '_includes/form.html'%}</div></div></div></div><div class="home-footer"><div class="row"><div class="col col--1-of-2 foot-icon"><p>Follow</p><a href="https://www.facebook.com/glenperottephotography" target="_blank" class="social-btn"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="https://www.instagram.com/glenperottefoto" target="_blank" class="social-btn"><i class="fa fa-instagram" aria-hidden="true"></i></a></div><div class="col col--1-of-2 copy-foot"><p>&copy; Copyright Glen Perotte Photographer Ltd {{ "now"|date('Y') }}. All Rights Reserved <br><a href="{{ siteUrl }}privacy-policy">Privacy</a><a href="{{ siteUrl }}terms-conditions">Terms &amp; Conditions</a> </p><p class="ipop">Website by <a href="http://www.ipopdigital.com" target="_blank">iPOP Digital</a>          </p></div></div></div>{% endblock %}

templates/contact/index.jade

{% extends "_layout" %}

{% block content %}
{% include '_includes/_subheader.html'%}

.sub-bg.contact-sub-bg
  {% include '_includes/_follow.html' %}
  .sub-container
    .col.col--2-of-2.crumb
      span / Contact
    .page-container
      .col.col--2-of-2
        {{ entry.body }}
        span.contact-email <i class="fa fa-envelope"></i> glen@glenperotte.com<br>59 KING STREET (2ND FLR),<br>ST HELIER, JERSEY, JE2 4WE
        span.contact-num <i class="fa fa-phone"></i> <a href="tel:+447797787425">+44 (0)7797 787425</a>
        {% include '_includes/form.html'%}
.home-footer
  .row
    .col.col--1-of-2.foot-icon
      p Follow
      a(href="https://www.facebook.com/glenperottephotography" class="social-btn", target="_blank")
        <i class="fa fa-facebook" aria-hidden="true"></i>
      a(href="https://www.instagram.com/glenperottefoto" class="social-btn", target="_blank")
        <i class="fa fa-instagram" aria-hidden="true"></i>
    .col.col--1-of-2.copy-foot
      p &copy; Copyright Glen Perotte Photographer Ltd {{ "now"|date('Y') }}. All Rights Reserved <br><a href="{{ siteUrl }}privacy-policy">Privacy</a><a href="{{ siteUrl }}terms-conditions">Terms &amp; Conditions</a> 
      p.ipop Website by <a href="http://www.ipopdigital.com" target="_blank">iPOP Digital</a>          
{% endblock %}
