templates/2020index.jade

{% extends "_layout" %}
{% block content %}
{% include '_includes/_subheader.html'%}
#new-home
  .home-container
    {% for block in entry.homeContent %}
    {% if block.type == "fullImage" %}
    .row
      .col.col--2-of-2(uk-parallax="y: 0,-10,-15")
        .img-cont
          {% set projectLink = block.linkOne %}
          a(href="{{ projectLink.first().url }}")
            {% for asset in block.image %}
            .head-fade
              .img-heading
                  h2  {{ asset.title }}
            .img-overlay
              .img-heading
                  h2  {{ asset.title }}
            img(src="{{ asset.url }}", alt="" class="fullWidth")
            {% endfor %}
    {% elseif block.type == "twoImages" %}
    .row
      .col.col--1-of-2(uk-parallax="y: 0,-25,-80")
        .img-cont
          {% set projectLink = block.linkOne %}
          a(href="{{ projectLink.first().url }}")
            {% for asset in block.leftImage %}
            .img-overlay
              .img-heading
                  h2  {{ asset.title }}
            img(src="{{ asset.url }}", alt="" class="fullWidth")
            {% endfor %}
      .col.col--1-of-2
        .img-cont
          {% set projectLink = block.linkTwo %}
          a(href="{{ projectLink.first().url }}")
            {% for asset in block.rightImage %}
            .img-overlay
              .img-heading
                  h2  {{ asset.title }}
            img(src="{{ asset.url }}", alt="" class="fullWidth")
            {% endfor %}
    {% elseif block.type == "twoThirds" %}
    .row
      .col.col--2-of-3(uk-parallax="y: 45,0,-80")
        .img-cont
          {% set projectLink = block.linkOne %}
          a(href="{{ projectLink.first().url }}")
            {% for asset in block.image %}
            .img-overlay
              .img-heading
                  h2  {{ asset.title }}
            img(src="{{ asset.url }}", alt="" class="fullWidth")
            {% endfor %}
      .col.col--1-of-3
        .img-cont
          {% set projectLink = block.linkTwo %}
          a(href="{{ projectLink.first().url }}")
            {% for asset in block.portrait %}
            .img-overlay
              .img-heading
                  h2  {{ asset.title }}
            img(src="{{ asset.url }}", alt="" class="fullWidth")
            {% endfor %}
    {% elseif block.type == "singleHalfImage" %}
    .row
      .col.col--1-of-2
        .img-cont
          {% set projectLink = block.linkOne %}
          a(href="{{ projectLink.first().url }}")
            {% for asset in block.image %}
            .img-overlay
              .img-heading
                  h2  {{ asset.title }}
            img(src="{{ asset.url }}", alt="" class="fullWidth")
            {% endfor %}
      .col.col--1-of-2(uk-parallax="y: 45,0,-80")
        .img-cont
          {% set projectLink = block.linkTwo %}
          a(href="{{ projectLink.first().url }}")
            {% for asset in block.imageParalax %}
            .img-overlay
              .img-heading
                  h2  {{ asset.title }}
            img(src="{{ asset.url }}", alt="" class="fullWidth")
            {% endfor %}
    {% elseif block.type == "fourImages" %}
    .row.four-col
      {% for asset in block.images %}
      .col.col--1-of-4(uk-parallax="y: 45,0,-80" data-fancybox="gallery" href="{{ asset.getUrl }}")
        .img-four(style="background-image:url('{{ asset.url }}');")
      {% endfor %}
    {% endif %}
    {% endfor %}
.home-footer
  .row
    .col.col--1-of-2.foot-icon
      p Follow
      a(href="https://www.facebook.com/glenperottephotography" class="social-btn", target="_blank")
        <i class="fa fa-facebook" aria-hidden="true"></i>
      a(href="https://www.instagram.com/glenperottefoto" class="social-btn", target="_blank")
        <i class="fa fa-instagram" aria-hidden="true"></i>
    .col.col--1-of-2.copy-foot
      p &copy; Copyright Glen Perotte Photographer Ltd {{ "now"|date('Y') }}. All Rights Reserved <br><a href="{{ siteUrl }}privacy-policy">Privacy</a><a href="{{ siteUrl }}terms-conditions">Terms &amp; Conditions</a> 
      p.ipop Website by <a href="http://www.ipopdigital.com" target="_blank">iPOP Digital</a>
{% endblock %}

templates/2020index.html
{% extends "_layout" %}
{% block content %}
{% include '_includes/_subheader.html'%}<div id="new-home"><div class="home-container">{% for block in entry.homeContent %}
{% if block.type == "fullImage" %}<div class="row"><div uk-parallax="y: 0,-10,-15" class="col col--2-of-2"><div class="img-cont">{% set projectLink = block.linkOne %}<a href="{{ projectLink.first().url }}">{% for asset in block.image %}<div class="head-fade"><div class="img-heading"><h2> {{ asset.title }}</h2></div></div><div class="img-overlay"><div class="img-heading"><h2> {{ asset.title }}</h2></div></div><img src="{{ asset.url }}" alt="" class="fullWidth"/>{% endfor %}</a></div></div></div>{% elseif block.type == "twoImages" %}<div class="row"><div uk-parallax="y: 0,-25,-80" class="col col--1-of-2"><div class="img-cont">{% set projectLink = block.linkOne %}<a href="{{ projectLink.first().url }}">{% for asset in block.leftImage %}<div class="img-overlay"><div class="img-heading"><h2> {{ asset.title }}</h2></div></div><img src="{{ asset.url }}" alt="" class="fullWidth"/>{% endfor %}</a></div></div><div class="col col--1-of-2"><div class="img-cont">{% set projectLink = block.linkTwo %}<a href="{{ projectLink.first().url }}">{% for asset in block.rightImage %}<div class="img-overlay"><div class="img-heading"><h2> {{ asset.title }}</h2></div></div><img src="{{ asset.url }}" alt="" class="fullWidth"/>{% endfor %}</a></div></div></div>{% elseif block.type == "twoThirds" %}<div class="row"><div uk-parallax="y: 45,0,-80" class="col col--2-of-3"><div class="img-cont">{% set projectLink = block.linkOne %}<a href="{{ projectLink.first().url }}">{% for asset in block.image %}<div class="img-overlay"><div class="img-heading"><h2> {{ asset.title }}</h2></div></div><img src="{{ asset.url }}" alt="" class="fullWidth"/>{% endfor %}</a></div></div><div class="col col--1-of-3"><div class="img-cont">{% set projectLink = block.linkTwo %}<a href="{{ projectLink.first().url }}">{% for asset in block.portrait %}<div class="img-overlay"><div class="img-heading"><h2> {{ asset.title }}</h2></div></div><img src="{{ asset.url }}" alt="" class="fullWidth"/>{% endfor %}</a></div></div></div>{% elseif block.type == "singleHalfImage" %}<div class="row"><div class="col col--1-of-2"><div class="img-cont">{% set projectLink = block.linkOne %}<a href="{{ projectLink.first().url }}">{% for asset in block.image %}<div class="img-overlay"><div class="img-heading"><h2> {{ asset.title }}</h2></div></div><img src="{{ asset.url }}" alt="" class="fullWidth"/>{% endfor %}</a></div></div><div uk-parallax="y: 45,0,-80" class="col col--1-of-2"><div class="img-cont">{% set projectLink = block.linkTwo %}<a href="{{ projectLink.first().url }}">{% for asset in block.imageParalax %}<div class="img-overlay"><div class="img-heading"><h2> {{ asset.title }}</h2></div></div><img src="{{ asset.url }}" alt="" class="fullWidth"/>{% endfor %}</a></div></div></div>{% elseif block.type == "fourImages" %}<div class="row four-col">{% for asset in block.images %}<div uk-parallax="y: 45,0,-80" data-fancybox="gallery" href="{{ asset.getUrl }}" class="col col--1-of-4"><div style="background-image:url('{{ asset.url }}');" class="img-four"></div></div>{% endfor %}</div>{% endif %}
{% endfor %}</div></div><div class="home-footer"><div class="row"><div class="col col--1-of-2 foot-icon"><p>Follow</p><a href="https://www.facebook.com/glenperottephotography" target="_blank" class="social-btn"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="https://www.instagram.com/glenperottefoto" target="_blank" class="social-btn"><i class="fa fa-instagram" aria-hidden="true"></i></a></div><div class="col col--1-of-2 copy-foot"><p>&copy; Copyright Glen Perotte Photographer Ltd {{ "now"|date('Y') }}. All Rights Reserved <br><a href="{{ siteUrl }}privacy-policy">Privacy</a><a href="{{ siteUrl }}terms-conditions">Terms &amp; Conditions</a> </p><p class="ipop">Website by <a href="http://www.ipopdigital.com" target="_blank">iPOP Digital</a></p></div></div></div>{% endblock %}
