templates/old/index.html

{% extends "_layout" %}
{% block content %}
{% include '_includes/_header.html'%}
<div id="home-header">
  <div id="slides">
    <ul class="slides-container">{% for block in entry.homeSlider.type('newImage') %}
      <li>
        <div data-picture="data-picture" data-alt="Glen Perotte Photography in Jersey">{% for asset in block.desktopImage %}
          <div data-src="{{ asset.getUrl }}" data-media="(min-width: 800px)"></div>{% endfor %}
          {% for asset in block.desktopImage %}
          <div data-src="{{ asset.getUrl('tablet') }}" data-media="(max-width: 800px)"></div>{% endfor %}
          {% for asset in block.desktopImage %}
          <div data-src="{{ asset.getUrl('mobile') }}" data-media="(max-width: 640px)"></div>{% endfor %}
          <noscript>{% for asset in block.desktopImage %}<img src="{{ asset.getUrl }}" alt="Glen Perotte Photography"/>{% endfor %}</noscript>
        </div>
        <div class="slider-title">
          <h3>{{ block.category[0].title }}</h3>
          <h2>{{ block.imageTitle }}</h2><a href="{{ block.linkEntry.first().url }}">
            <h3>VIEW PROJECT</h3></a>
        </div>
        <div class="image-number">{{ loop.index }}/{{ loop.length }}</div>
      </li>{% endfor %}
    </ul>
    <nav class="slides-navigation"><a href="#" class="prev"><img src="{{ siteUrl }}resources/img/right-arrow.svg" alt="Left Arrow"/></a><span class="blank"></span>
      <!--.image-number-pause.pause.playing <i class="fa fa-pause"></i>--><a href="#" class="next"><img src="{{ siteUrl }}resources/img/left-arrow.svg" alt="Left Arrow"/></a>
    </nav>{% include '_includes/_follow.html' %}
  </div>
</div>
<div class="mobile-home">{% for block in entry.homeSlider.type('newImage') %}
  <div class="mobile-project">{% for asset in block.desktopImage %}<img src="{{ asset.getUrl('mobile') }}" alt="Glen Perotte Photography" class="fullWidth"/>{% endfor %}</div>{% endfor %}
</div>{% endblock %}

templates/index.jade

{% extends "_layout" %}
{% block content %}
{% include '_includes/_header.html'%}
#home-header
  #slides
    ul.slides-container
      {% for block in entry.homeSlider.type('newImage') %}
      li(data-menu-color="{{ block.menuColor }}" data-title-color="{{ block.imageTitleColor }}")
        div(data-picture data-alt="Glen Perotte Photography in Jersey")
          {% for asset in block.desktopImage %}
          div(data-src="{{ asset.getUrl }}" data-media="(min-width: 800px)")
          {% endfor %}
          {% for asset in block.desktopImage %}
          div(data-src="{{ asset.getUrl('tablet') }}" data-media="(max-width: 800px)")
          {% endfor %}
          {% for asset in block.desktopImage %}
          div(data-src="{{ asset.getUrl('mobile') }}"  data-media="(max-width: 640px)")
          {% endfor %}
          noscript
            {% for asset in block.desktopImage %}
            img(src="{{ asset.getUrl }}" alt="Glen Perotte Photography")
            {% endfor %}
        //- .slider-title(class="{{ block.imageTitleColor }}-title")
        //-   h3 {% for cat in block.category.limit(1) %}{{ cat.title }}{% endfor %}
        //-   h2 {{ block.imageTitle }}
        //-   a(href="{{ block.linkEntry.first().url }}")
        //-     h3 VIEW PROJECT
      {% endfor %}
    //- nav.slides-navigation
    //-   a(href="#" class="next")
    //-     img(src="{{ siteUrl }}build/img/right-arrow.svg" alt="Left Arrow")
    //-   span.blank
    //-   .image-number-pause.pause.playing <i class="fa fa-pause"></i>
    //-   a(href="#" class="prev")
    //-     img(src="{{ siteUrl }}build/img/left-arrow.svg" alt="Left Arrow")
    //{% include '_includes/_follow.html' %}
.mobile-home
  {% for block in entry.homeSlider.type('newImage') %}
  .mobile-project
    {% for asset in block.desktopImage %}
    img(src="{{ asset.getUrl('mobile') }}", alt="Glen Perotte Photography" class="fullWidth")
    {% endfor %}
  {% endfor %}
{% endblock %}
